footer
  Credits
  ul#credits
    li           
      a(href="https://twitter.com/#!/@auradeluxe", target="_blank")
        @auradeluxe
    li 
      a(href="https://twitter.com/#!/@carrnation", target="_blank")
        @carrnation
    li           
      a(href="https://twitter.com/#!/@cyberdino", target="_blank")
        @cyberdino
    li           
      a(href="https://twitter.com/#!/@don_olmstead", target="_blank")
        @don_olmstead
    li           
      a(href="https://twitter.com/#!/@fromthought2web", target="_blank")
        @fromthought2web
    li 
      a(href="https://twitter.com/#!/@Gamepsych", target="_blank")
        @Gamepsych
    li          
      a(href="https://twitter.com/#!/@jackpryne", target="_blank")
        @jackpryne
    li
      a(href="https://twitter.com/#!/@JohnMcCutchan", target="_blank")
        @JohnMcCutchan
    li          
      a(href="https://twitter.com/#!/@mgpettit", target="_blank")
        @mgpettit
    li          
      a(href="https://twitter.com/#!/@scottfoe", target="_blank")
        @scottfoe
    li          
      a(href="https://twitter.com/#!/@ta", target="_blank")
        @ta

#index-container
  #splash
  a#twitter_button(href="/auth/twitter")
  