!!!
html
  head
    title Gabulous
    link(rel='stylesheet', href='/stylesheets/gabulous.css')
  body
    h1 GABULOUS
    != body
    script(src='http://code.jquery.com/jquery-1.7.1.min.js');
    script(src='/javascripts/jquery.cookie.js')
    script(src='/javascripts/twitter_client.js')
